# Ignore the main environment file
.env

# Ignore environment variants (e.g., .env.local, .env.development.local)
.env.*
.env.local

# Model checkpoints
*.pth
A100_Ensemble/checkpoints/

# Model checkpoints
*.pth
*.pt

# Jupyter checkpoints
.ipynb_checkpoints/

# Large archives
*.zip